/*!
 *
 * Modifications made to change basic color scheme of boostrap template.
 * Jared M Schooley
 *
 */

body {
    padding-top: 54px;
    background-color: #A5A5AF;
}

a {
    color: #D9B310;
    transition: 0.4s;
}

a:hover {
    color: #1D2731;
}

hr.style {
    border-top: 1px solid #6E7376;
    text-align: center;
}

hr.style:after {
    content: '§';
    display: inline-block;
    position: relative;
    top: -14px;
    padding: 0 10px;
    background: #A5A5AF;
    color: #3C3C3C;
    font-size: 18px;
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    transform: rotate(60deg);
}

hr {
    border-top: 1px solid #6E7376;
    border-bottom: 1px solid #E8E8E8;
}

.btn-primary {
    color: #fff;
    background-color: #AB9353;
    border-color: #AB9353;
    transition: 0.4s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #1D2731;
    border-color: #1D2731;
    transition: 0.4s;
}

.card {
    background-color: #286DA8;
    border-color: #1D2731;
}

.bg-dark {
    color: #0B3C5D;
    background: #0B3C5D;
}

.navbar-dark {
    color: #0B3C5D;
    background: #0B3C5D;
}

.py-5 {
    color: #0B3C5D;
    background: #0B3C5D;
}

.page-link {
    background-color: #AB9353;
    border-color: #AB9353;
    color: #FFFFFF;
}

.page-link:hover, .page-link:focus .page-link:active {
    color: #FFFFFF;
    background-color: #1D2731;
    border-color: #1D2731;
    transition: 0.4s;
}

/* Responsive iFrame */

.responsive-iframe-container {
    position: relative;
    padding-bottom: 75%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

@media (max-width: 500px) {
    .big-container {
    }
}

@media (min-width: 500px) {
    .small-container {
        max-width: 500px;
    }
}
